//IMPORTS
//@import "";

//ITEMS
@import "items/component";
@import "items/logo";

//LAYOUT
@import "layout/navbar";
@import "layout/main-page";
@import "layout/input-box";

//PAGES
@import "pages/home-page";
@import "pages/rental-page";

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Muli", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: $clr-white;
}
