//IMPORTS
//@import "";

//ITEMS
@import "items/component";
@import "items/logo";
@import "items/toggle-btn";
@import "items/letsGoButton";
@import "items/bigBlueButton";

//LAYOUT
@import "layout/navbar";
@import "layout/main-page";
@import "layout/input-box";
@import "layout/nav-menu";
@import "layout/rentPage-inputBox";
@import "layout/vehicleLoadBox";
@import "layout/vehicleResults";
@import "layout/tripSummaryContainer";

//PAGES
@import "pages/home-page";
@import "pages/rental-page";

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: $clr-white;
}
