.inputbox {
  width: 50%;
  max-width: 500px;
  margin: 3% 10%;
  color: $clr-white;

  &__form {
    display: flex;

    &--pickup {
      display: flex;
      flex-direction: column;
    }

    &--dropoff {
      display: flex;
      flex-direction: column;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
  }
}
