.nav-bar {
  height: 50px;
  z-index: 2;
  display: flex;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;

  //Font color
  a {
    color: $clr-white;
  }

  //logo
  &__logo {
    font-size: 25px;
  }

  //list
  &__list {
    width: 50%;
    display: flex;
    justify-content: space-between;

    &--items {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.drop-shad {
    box-shadow: $drp-shad, $in-shad;
  }
}

@media (max-width: 1024px) {
  .nav-bar {
    &__list {
      width: 420px;
    }
  }
}

@media (max-width: 700px) {
  .nav-bar {
    &__list {
      display: none;
    }
  }
}
