.nav-bar {
  height: 50px;
  z-index: 2;
  margin-top: 15px;
  display: flex;
  padding: 0 10% 0 10%;
  justify-content: space-between;
  align-items: center;

  //Font color
  a {
    color: $clr-white;
  }

  //logo
  &__logo {
    font-size: 25px;
  }

  //list
  &__list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &--items {
      color: $clr-white;

      &:hover ~ & {
        color: $clr-grey;
      }
    }
  }
}

.nav-bar__list:not(:focus-within):not(:hover) {
  .hover {
    color: $clr-grey;
  }
}

@media (max-width: 1024px) {
  .nav-bar {
    &__list {
      width: 420px;
    }
  }
}

@media (max-width: 700px) {
  .nav-bar {
    &__list {
      display: none;
    }
  }
}
