.buttonPointer {
  display: none;

  position: absolute;
  right: 10px;
  background: $clr-blue;
  border: 3px dashed $clr-black;
  border-radius: 50px;
  z-index: 1;
  box-shadow: $drp-shad;
  text-align: center;
  @media (max-width: 870px) {
    display: block;
  }
  &:hover {
    cursor: pointer;
    border: 3px dashed $clr-blue-dark;
    i {
      color: $clr-blue-dark;
    }
  }
  &:active {
  }

  i {
    margin: 10px;
    transform-origin: center;
  }
}
