.rental-page {
  &__nav-container {
    li {
      color: $clr-grey;
    }
  }

  &__layout {
    height: 500px;
    width: 80%;
    margin: 25px auto;
    background-color: grey;

    &--application-container {
    }
    &--trip-summary {
    }
  }
}
