.rental-page {
  &__nav-container {
    li {
      color: $clr-grey;
    }
  }

  &__layout {
    width: 80%;
    margin: 25px auto;
    display: flex;
    // justify-content: space-between;
    @media (max-width: 1050px) {
      width: 95%;
    }
    &--application-container {
      width: 100%;
      height: 100%;
    }
    &--trip-summary {
      display: none;
      height: 450px;
      width: 40%;
      min-width: 260px;
      margin-left: 25px;
      background-color: $clr-grey-light;
      padding: 15px;
    }
  }
}
